<mat-tab-group mat-align-tabs="center">
    <mat-tab label="طلا">
        <form [formGroup]="formValue">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="legacy">
                          <mat-label>نام محصول</mat-label>
                          <input matInput formControlName="name">
                        </mat-form-field>

                    <mat-form-field appearance="legacy" class="w-33" style="padding-left: 5px !important;">
                      <mat-label>وزن</mat-label>
                      <input matInput type="number" formControlName="weight">
                    </mat-form-field>

                      <mat-form-field appearance="legacy" class="w-33"  style="padding-right: 5px !important; padding-left: 5px !important;">
                        <mat-label>اجرت</mat-label>
                        <input matInput type="number"  formControlName="hire">
                      </mat-form-field>

                      <mat-form-field appearance="legacy" class="w-33" style="padding-right: 5px !important;">
                      <mat-label>عیار</mat-label>
                      <mat-select required formControlName="caret">
                        <mat-option  value="18 عیار">18 عیار</mat-option>
                        <mat-option  value="24 عیار">24 عیار</mat-option>
                       </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="legacy">
                      <mat-label>توضیحات</mat-label>
                      <textarea matInput formControlName="comment" style="height:3rem;"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <div class="zone mb-3 mb-md-0">
                      <div class="dropZ">
                        <img src="../../../../assets/images/upload.png" class="uload-img">
                        <div class="pt-3"><span>Drag and drop your file here</span></div>
                        <span>OR</span>
                        <div class="selectFile">
                          <button mat-raised-button ><label for="file1">آپلود عکس</label></button>
                          <input  class="pt-5" type="file" name="files[]" id="file1">
                        </div>
                        <p>File size limit : 2 MB</p>
                      </div>

                    </div>
                  </div>
                <div class="btn-actions">
                  <button mat-raised-button class="btn-action btn-save" (click)="saveProduct()">ذخیره کردن</button>
                  <button mat-raised-button class="btn-action btn-clear" (click)="onReset()">خالی کردن فیلد ها</button>
                  </div>
              </div>
              </div>
              </form>
    </mat-tab>
    <mat-tab label="سکه">

        <form [formGroup]="formValue">
          <div class="container mt-3">
              <div class="row">
                  <div class="col-md-6">
                  <mat-form-field appearance="legacy">
                    <mat-label>نوع سکه</mat-label>
                    <mat-select required formControlName="name">
                     <mat-option  value="تمام سکه">تمام سکه</mat-option>
                     <mat-option  value="نیم سکه">نیم سکه</mat-option>
                     <mat-option  value="ربع سکه">ربع سکه</mat-option>
                     <mat-option value="سکه گرمی">سکه گرمی</mat-option>
                    </mat-select>
                </mat-form-field>


                  <mat-form-field appearance="legacy">
                    <mat-label>برند </mat-label>
                    <input matInput type="text" formControlName="brand">
                  </mat-form-field>


                  <mat-form-field appearance="legacy">
                    <mat-label>توضیحات</mat-label>
                    <textarea matInput formControlName="comment" style="height:3rem;"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <div class="zone mb-3 mb-md-0">
                    <div class="dropZ">
                      <img src="../../../../assets/images/upload.png" class="uload-img">
                      <div class="pt-3"><span>Drag and drop your file here</span></div>
                      <span>OR</span>
                      <div class="selectFile">
                        <button mat-raised-button ><label for="file2">آپلود عکس</label></button>
                        <input  class="pt-5" type="file" name="files[]" id="file2">
                      </div>
                      <p>File size limit : 2 MB</p>
                    </div>

                  </div>
                </div>
              <div class="btn-actions">
                <button mat-raised-button class="btn-action btn-save" (click)="saveProduct()">ذخیره کردن</button>
                <button mat-raised-button class="btn-action btn-clear" (click)="onReset()">خالی کردن فیلد ها</button>
                </div>
            </div>
            </div>
            </form>



    </mat-tab>
    <mat-tab label="جواهر">

        <form [formGroup]="formValue">
          <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                <mat-form-field appearance="legacy">
                  <mat-label>نام محصول</mat-label>
                  <input matInput type="text" formControlName="name">
              </mat-form-field>


                <mat-form-field appearance="legacy">
                  <mat-label>برند </mat-label>
                  <input matInput type="text" formControlName="brand">
                </mat-form-field>


                <mat-form-field appearance="legacy">
                  <mat-label>توضیحات</mat-label>
                  <textarea matInput formControlName="comment" style="height:3rem;"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <div class="zone mb-3 mb-md-0">
                  <div class="dropZ">
                    <img src="../../../../assets/images/upload.png" class="uload-img">
                    <div class="pt-3"><span>Drag and drop your file here</span></div>
                    <span>OR</span>
                    <div class="selectFile">
                      <button mat-raised-button ><label for="file3">آپلود عکس</label></button>
                      <input  class="" type="file" name="files[]" id="file3">
                    </div>
                    <p>File size limit : 2 MB</p>
                  </div>

                </div>
              </div>
            <div class="btn-actions">
              <button mat-raised-button class="btn-action btn-save" (click)="saveProduct()">ذخیره کردن</button>
              <button mat-raised-button class="btn-action btn-clear" (click)="onReset()">خالی کردن فیلد ها</button>
              </div>
          </div>
          </div>
          </form>

    </mat-tab>
</mat-tab-group>


