<div class="container">
  <div class="row justify-content">
    <div class="col-5 col-md-4 col-lg-2  m-0 p-1 pb-3">
      <button mat-raised-button class="btn-create">
        <mat-icon>insert_drive_file</mat-icon>دریافت فایل
      </button>
    </div>

    <div class="col-7 col-md-8 col-lg-10">
      <mat-form-field>
        <input matInput placeholder="جستجو" >
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-divider></mat-divider>