<div class="container">
  <div class="row justify-content">
    <div class="col-5 col-md-4 col-lg-2  m-0 p-1 pb-3">
      <button mat-raised-button class="btn-create" (click)="exportExcel()">
        <mat-icon>insert_drive_file</mat-icon>دریافت فایل
      </button>
    </div>

    <div class="col-7 col-md-8 col-lg-10">
      <mat-form-field>
        <input matInput placeholder="جستجو" name="searchKey" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-divider></mat-divider>


<mat-progress-spinner class="loader" mode="indeterminate" *ngIf="!IsWait">
</mat-progress-spinner>

 <table class="table table-striped" *ngIf="IsWait" >
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام مشتری</th>
      <th scope="col">تاریخ فروش</th>
      <th scope="col">مبلغ فاکتور</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of invoiceList |  paginate: { itemsPerPage: 8, currentPage: q } ; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{row.name}}</td>
      <td>{{row.created_at}}</td>
      <td>{{row.totalPrice  | currency: '  ' :'symbol-narrow':'4.0'}} تومان</td>
      <td><mat-icon>launch</mat-icon></td>
      <td><mat-icon class="close-icon">close</mat-icon></td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="q = $event" previousLabel="" nextLabel="" *ngIf="IsWait">
</pagination-controls>