mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
    margin-bottom: -10px;
}


ul{
    li{
        list-style: none;
        display: inline-block;
        margin-right: 0.1rem;
    }
}

p{
    font-size: 14px;
    padding-top: 1%;
}
button{
    border: 0;
    outline: none;
    background: transparent;
}

.user{
    font-size: 13px;
    padding-top: 12% !important;
}

.user-image{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.user-image-icon{
    height: 18px;
    font-size: 14px;
}

::ng-deep{
    .mat-menu-content{
        width: 220px;
    }
    .profile .mat-menu-content{
        width:140px;        
        text-align: left;
        button{
            font-size: 12px !important;
        }
    }


}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

