<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/images/Logo.png" class="w-100" alt="conpany logo"/>
    </div>
    <mat-divider class="mb-3"></mat-divider>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon class="icon i-dashboard">dashboard</mat-icon> داشبورد
    </a>
    <a mat-list-item routerLink="/factors" routerLinkActive="list-item-active">
        <mat-icon class="icon i-summarize">summarize</mat-icon> گزارشات
    </a>
    <a mat-list-item routerLink="/products" routerLinkActive="list-item-active">
        <mat-icon class="icon i-store">qr_code</mat-icon> محصولات
    </a>
    <a mat-list-item routerLink="/cart" routerLinkActive="list-item-active">
        <mat-icon class="icon i-store">store</mat-icon>سبد فروش
    </a>
    <a mat-list-item routerLink="/ticket" routerLinkActive="list-item-active">
        <mat-icon class="icon i-qrcode">support_agent</mat-icon> ارتباط با ما
    </a> 
</mat-nav-list>
<mat-nav-list class="icons mt-4">
    <img src="../../../../assets/images/logo/1.png">
    <img src="../../../../assets/images/logo/2.png">
    <img src="../../../../assets/images/logo/3.png">    
</mat-nav-list>
<app-footer></app-footer>