<button mat-raised-button class="btn-save" (click)="postInvoice(now,customerName)">ذخیره کردن</button>
<button mat-raised-button class="btn-print">چاپ کردن</button>

<div class="container-fluid body" id="print-section">
  <div class="row justify-content-center mb-3 mt-3">
    <div class="col-5">
      <img src="../../../../assets/images/Logo.png" class="w-100">
    </div>
   
  </div>
  <div class="row justify-content-center">
    <div class="col-12 mb-2 text-box">
      <div class="row top-section  justify-content-between">
        <div class="col-4">تاریخ : {{now}}</div>
        <div class="col-4">
          شماره فاکتور : ‌۲۳۴۵۶۷۸۹۰
        </div>
      </div>
    </div>
    <div class="col-12 mb-2 text-box">
      <p>فاکتور آقای/ خانم :
        <input type="text" [(ngModel)]="customerName" placeholder=".........................">
      </p>
    </div>
    <div class="col-12 mb-2 table-box">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">نام محصول</th>
          <th scope="col"> </th>
          <th scope="col">عیار</th>
          <th scope="col">وزن</th>
          <th scope="col">تعداد</th>
          <th scope="col"> </th>
          <th scope="col">قیمت واحد</th>
          <th scope="col"> </th>
          <th scope="col">قیمت کل</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products | keyvalue">
            <ng-container *ngIf="item.value[0] as product">
              <td><img style="width: 30px;border-radius: 3px;" src="{{product.image}}" alt="{{product.name}}"></td>
              <td><p class="product-item">{{product.name}}</p></td>
              <td></td>
              <td><p class="product-item">{{product.caret}}</p></td>
              <td><p class="product-item">{{product.weight}}<span *ngIf="product.weight"> گرم</span></p></td>
              <td><p class="product-item">{{item.value.length}} عدد</p></td>
              <td scope="col"> </td>
              <td><p class="product-item">{{product.price | currency: '  ' :'symbol-narrow':'4.0'}} تومان</p></td>
              <td scope="col"> </td>
              <td><p class="product-item">{{item.value.length * product.price | currency: '  ' :'symbol-narrow':'4.0'}} تومان</p></td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p class="pt-4" style="float: left;">
        جمع فاکتور :  {{totalPrice | currency: '  ' :'symbol-narrow':'4.0'}} تومان</p>
    </div>
  </div>
</div>


