<div class="container">
  <div class="row justify-content">
    <div class="col-5 col-md-4 col-lg-2  m-0 p-1 pb-3">
      <button mat-raised-button class="btn-create" (click)="onCreateProduct()" [disabled]="!IsWait">
        <mat-icon>add</mat-icon>محصول جدید
      </button>
    </div>

    <div class="col-7 col-md-8 col-lg-10">
      <mat-form-field>
        <input matInput placeholder="جستجو" name="searchKey" [(ngModel)]="searchKey" (ngModelChange)="doSearch($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<mat-progress-spinner class="loader" mode="indeterminate" *ngIf="!IsWait">
</mat-progress-spinner>
<div class="container">
  <div class="row mt-2">
    <div *ngFor="let row of productData |  paginate: { itemsPerPage: 8, currentPage: p }" class="col-6 col-md-4 col-lg-3 m-0 p-0">
      <div class="card-sl">

        <div class="card-image"><img src="{{row.image}}" class="w-100" alt="{{row.name}}" /></div>
        <button (click)="deleteProduct(row)" class="card-action" mat-icon-button color="accent">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button (click)="editProduct(row)" class="card-action" mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
        <div class="card-body p-0">
        <div class="card-heading">{{row.name}}</div>
        <div class="card-text">{{row.price | currency: '  ' :'symbol-narrow':'4.0'}} تومان </div>
        <div class="card-text d-none d-sm-block"
          style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">
          {{row.comment}}
        </div>
        <div class="card-text">
          <span *ngIf="row.weight">{{row.weight}} <small> گرم</small> , </span>
         <span><small>{{row.caret}}</small></span>
        </div>
        </div>
        <button mat-raised-button class="card-button" (click)="add2Card(row)">اضافه کردن به سبد فروش</button>
      </div>
    </div>



    <pagination-controls *ngIf="IsWait" (pageChange)="p = $event" previousLabel="" nextLabel="">
    </pagination-controls>

  </div>
</div>
