<mat-toolbar>
  <span class="dialog-header">ویرایش {{recievedrow.name}}</span>
  <span class="example-spacer"></span>
  <span><button mat-icon-button><mat-icon (click)="onClose()">close</mat-icon></button></span>
</mat-toolbar>

<form [formGroup]="formValue">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="legacy">
          <mat-label>نام محصول</mat-label>
          <input matInput formControlName="name" value="{{recievedrow.name}}">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>قیمت</mat-label>
          <input matInput formControlName="price" value="{{recievedrow.price}}">
        </mat-form-field>

        <mat-form-field appearance="legacy" *ngIf="recievedrow.brand">
          <mat-label>برند</mat-label>
          <input matInput formControlName="brand" value="{{recievedrow.brand}}">
        </mat-form-field>


        <mat-form-field appearance="legacy" *ngIf="recievedrow.weight">
          <mat-label>وزن</mat-label>
          <input matInput formControlName="weight" type="number" value="{{recievedrow.weight}}">
        </mat-form-field>
        

        <mat-form-field appearance="legacy" *ngIf="recievedrow.caret">
          <mat-label>عیار</mat-label>
          <input matInput formControlName="caret" value="{{recievedrow.caret}}">
        </mat-form-field>

        <mat-form-field appearance="legacy">
          <mat-label>توضیحات</mat-label>
          <textarea matInput formControlName="comment" value="{{recievedrow.comment}}" style="height:6rem;"></textarea>
        </mat-form-field>

      </div>
      <div class="col-md-6">
        <img src="{{recievedrow.image}}" class="w-100">
      </div>
    </div>
  </div>
</form>
<button mat-raised-button class="udpade-button" (click)="updateDetails()">بروز رسانی</button>

