mat-form-field{
  width: 100%;
  font-size: 0.9rem;
}
.example-spacer {
  flex: 1 1 auto;
}
.udpade-button{
  background-color: #cda64b;
}

.dialog-header{
  font-size: 15px;
}

textarea{
  line-height: 1.5rem;
}
@media only screen and (max-width: 480px) {
  .dialog-header{
    font-size: 0.9rem;
  }
  textarea{
    line-height: 1.3rem;
    font-size: 0.8rem;
  }

}