<div class="container">
    <div class="row">
        <div class="col-md-6" style="border-left: 1.5px dashed #0F172A;">
        <p><mat-icon>home</mat-icon>آدرس  : آذربایجان غربی ، ارومیه ، پاساژ پارک</p>
        <p><mat-icon>email</mat-icon>ایمیل : contact@yaraSystem.ir</p>
        <p><mat-icon>smartphone</mat-icon>شماره تماس :  0443 272 4524</p>
        <p><mat-icon>support_agent</mat-icon> شماره گویا : 123456789</p>
       
        <iframe class="mt-2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1581.5730571179456!2d45.07327017961307!3d37.55162117056343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x400553432051758d%3A0xfe47a89ce1f004df!2sPark%20Hotel!5e0!3m2!1sen!2s!4v1627539881729!5m2!1sen!2s" width="475" height="260" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-6">
          <form [formGroup]="contactformValue">
            <div class="row">
            <div class="col-md-6">
                <mat-form-field  appearance="legacy">
                <mat-label>نام</mat-label>
                <input matInput type="text" formControlName="firstname" required>
              </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="legacy">
                <mat-label>نام خانوادگی</mat-label>
                <input matInput type="text" formControlName="lastname" required>
            </mat-form-field>
        </div>
        </div>
           <div class="row">
            <mat-form-field appearance="legacy">
                <mat-label> موضوع ایمیل</mat-label>
                <mat-select required formControlName="subject">
                 <mat-option value="در راستای بهبود نرم افزار" >در راستای بهبود نرم افزار</mat-option>
                 <mat-option value="انتقادات و پیشنهادات" >انتقادات و پیشنهادات</mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="row">
            <mat-form-field appearance="legacy">
                <mat-label>متن ایمیل</mat-label>
                <textarea matInput formControlName="comment" style="height:4rem;"></textarea>
              </mat-form-field>
              </div>
            <button mat-raised-button class="w-100 btn-send" (click)=" PostTicket()">ارسال ایمیل</button>
          </form>
            
        </div>
    </div>
</div>