.mat-simple-snackbar {
    font-size: 12px;
    font-weight: 400;
 }
 .mat-snack-bar-container {
    max-width: 275px !important;
    min-width: 275px !important;
 }
 snack-bar-container.success {
    background-color: #06a379;
    color: #fff;
 }
 
 snack-bar-container.warn {
    background-color: #c10639;
    color: #fff;
 }
 