<div class="container">
    <div class="row">  
        <div class="col-6 col-md-3 p-1">
          <div class="layers layer1 bd bgc-white p-20">
            <div class="w-100 mB-10">
              <h5 class="text-right"> فروش این ماه</h5>
              <p class="text-right mt-4">۱.۰۲۴.۷۸۵.۰۰۰ تومان</p>
            </div>
            <div class="layer w-100">
              <div class="peers">
                  <div class="peer1">
                    <span>12.0%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-6 col-md-3 p-1">
            <div class="layers layer2 bd p-20">
              <div class="w-100 mB-10">
                <h5 class="text-right">فروش امروز</h5>
                <p class="text-right mt-4">۸۶.۰۰۰.۰۰۰ تومان</p>
              </div>
              <div class="layer w-100">
                <div class="peers">
                    <div class="peer2">
                      <span>14.0%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
        <div class="col-6 col-md-3 p-1">
          <div class="layers layer3 bd bgc-white p-20">
            <div class="w-100 mB-10">
              <h5 class="text-right">18 عیار</h5>
              <p class="text-right mt-4">۹۳۸.۰۰۰ تومان</p>
  
            </div>
            <div class="layer w-100">
              <div class="peers">
                  <div class="peer3">
                    <span>4.2%-</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-6 col-md-3 p-1">
            <div class="layers layer4 bd bgc-white p-20">
              <div class="w-100 mB-10">
                <h5 class="text-right">طلای شکسته</h5>
                <p class="text-right mt-4">۹۲۷.۰۰۰تومان</p>
              </div>
              <div class="layer w-100">
                <div class="peers">
                    <div class="peer4">
                      <span>3.9%-</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>
    <br>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-md-3">
      <app-line-chart></app-line-chart>
    </div>
    <div class="col-md-9">
    <app-bar-chart></app-bar-chart>
    </div>
  </div>
  
  </div>
  