.layers{
   min-height: 155px;
   max-height: 155px;
}
.layers h5{
    font-family: vazir;
    font-size: 1rem;
    font-weight: 500;
}
.layers p{
    font-size: 1.1rem;
}
.peer1 span{ 
    background-color: #e3f2fd;
    border-radius: 10em;
    color:#2196f3;
    padding: 8px;
    font-size: 12px;
    float: left;
}

.peer2 span{
    background-color: #f3e5f5;
    border-radius: 10em;
    color: #9c27b0;
    padding: 8px;
    font-size: 12px;
    float: left;
}

.peer3 span{
    background-color: #ffebee;
    border-radius: 10em;
    color:#f44336;
    padding: 8px;
    font-size: 12px;
    float: left;
}

.peer4 span{
    background-color: #e8f5e9;
    border-radius: 10em;
    color:#4caf50;
    padding: 8px;
    font-size: 12px;
    float: left;
}
.layers{
    border-radius: 5px;
}
.layer1{
    background-color: #f7fbff;
}
.layer2{
    background-color: #faf3fb;
} 
.layer3{
    background-color: #fff5f7;
}
.layer4{
    background-color: #eeffef;
}
    
    .bd {
        border: 1px solid rgba(0,0,0,.0625)!important;
    }
    .p-20 {
        padding: 20px!important;
    }
    .d-f, .layers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .layers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .mB-10 {
        margin-bottom: 10px!important;
    }
    .w-100 {
        width: 100%!important;
    }

    td{
        font-size: 14px;
    }
    th{
        font-size: 12px;
    }

    .table-header{
        font-size: 17px;
        padding-top: 1rem;
    }

   .table{
    background: #fdfdfd;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
    
    }


    @media only screen and (max-width: 480px) {
        .layers{
            min-height: 140px;
            max-height: 140px;
        }
        .layers p{
            font-size: 0.8rem;
        }
        .peers span{
            background: none;
            padding: 0px;
        }
        .table-header{
            font-size: 1rem;
            padding-bottom: 10px;
        }
        table th{
            font-size: 0.9rem;
        }
        table td{
            font-size: 0.7rem;
        }

    }