<section>
  <div class="container">
    <div class="row">  
        <div class="col-6 col-md-3 p-1">
          <div class="layers layer1 bd bgc-white p-20">
            <div class="w-100 mB-10">
              <h5 class="text-right"> فروش این ماه</h5>
              <p class="text-right mt-4">۱.۰۲۴.۷۸۵.۰۰۰ تومان</p>
            </div>
            <div class="layer w-100">
              <div class="peers">
                  <div class="peer1">
                    <span>12.0%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-6 col-md-3 p-1">
            <div class="layers layer2 bd p-20">
              <div class="w-100 mB-10">
                <h5 class="text-right">فروش امروز</h5>
                <p class="text-right mt-4">۸۶.۰۰۰.۰۰۰ تومان</p>
              </div>
              <div class="layer w-100">
                <div class="peers">
                    <div class="peer2">
                      <span>14.0%</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        <div class="col-6 col-md-3 p-1">
          <div class="layers layer3 bd bgc-white p-20">
            <div class="w-100 mB-10">
              <h5 class="text-right">18 عیار</h5>
              <p class="text-right mt-4">۹۳۸.۰۰۰ تومان</p>
  
            </div>
            <div class="layer w-100">
              <div class="peers">
                  <div class="peer3">
                    <span>4.2%-</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-6 col-md-3 p-1">
            <div class="layers layer4 bd bgc-white p-20">
              <div class="w-100 mB-10">
                <h5 class="text-right">طلای شکسته</h5>
                <p class="text-right mt-4">۹۲۷.۰۰۰تومان</p>
              </div>
              <div class="layer w-100">
                <div class="peers">
                    <div class="peer4">
                      <span>3.9%-</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    </div>
</div>
</section>
    <br>
  <mat-divider></mat-divider>
  <br>

<section>
  <div class="container">
    <div class="row">
      <div class="d-sm-block d-none col-md-4">
        <app-line-chart></app-line-chart>
      </div>
      <div class="col-md-8">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
</section>
    <br>
    <mat-divider></mat-divider>
    <br>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="table-header text-center">آخرین فاکتور ها</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">نام مشتری</th>
              <th scope="col">تاریخ</th>
              <th scope="col">قیمت</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of factorData.slice(0,5); index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{row.name}}</td>
              <td>{{row.created_at}}</td>
              <td>{{row.totalPrice| number}} تومان </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <p class="table-header text-center">آخرین محصولات</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">نام</th>
              <th scope="col">توضیحات</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of productData.slice(0,3); index as i">
              <th>{{i+1}}</th>
              <td><img src="{{row.image}}" style="width: 45px;"></td>
              <td>{{row.name}}</td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 10ch;">{{row.comment}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
