mat-icon{
    font-size: 24px;
    margin-left: 0.6rem;

}
p{
    font-size: 13px;
}
mat-form-field{
    width: 100%;
    font-size: 15px;
    margin-top: 25px;
}

.btn-send{
  background-color:#cda64b;
  margin-top:45px;
  padding-top:5px;
}
