.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.card-table{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.25rem;
}
.center img{
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;

}
th{
  font-size: 15px;
}

td{
  margin-top:25px;
  font-size: 13px;
}
table mat-icon{
  font-size: 18px;

}

.center .products-btn{
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 5px 72px;
  border-radius: 3px !important;
  background: #cda64b;
}

h6,h4,h2{
  font-weight: 600;
  font-family: "vazir";
}

.card-title{
  font-size: 15px;
}

.card-cart{
  font-size: 0.8rem;
}

.item-description{
  font-size: 11px;
}

li{
  font-size: 1rem;
  list-style: none;
}

li span{
  float: left;
}

.btn-save{
  background: #CDA64B;
}
.btn-del{
  background-color: #ef244a;
}

.item-img{
  width: 70px;
  border-radius: 10px;
}

table td .btn-d{
  padding: 5px;
  color: #f44336;
}
@media only screen and (max-width: 480px) {
    .item-img{
      width: 35px;
    }

    table th{
      font-size: 0.75rem;
    }

    table td p ,table td .ng-star-inserted{
      font-size: 0.65rem;
    }
  
    li ,.btn-save ,.products-btn{
      font-size: 0.75rem;
    }
   
}