<ng-container *ngIf="show">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">
        <!-- <button mat-icon-button (click)="addShopping()"><mat-icon>add_shopping_cart</mat-icon></button>
        <button mat-icon-button (click)="exportFactor()"><mat-icon>assignment_turned_in</mat-icon></button> -->
        <button mat-raised-button class="btn-save" (click)="showFactor()">
         مشاهده فاکتور
        </button> 
      </th>
      <th scope="col">

      </th>
      <th style="width: 10%;" scope="col"></th>
      <th scope="col">عیار</th>
      <th scope="col">وزن</th>
      <th scope="col">قیمت واحد</th>
      <th scope="col">تعداد</th>
      <th scope="col">کل</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let item of products | keyvalue">

      <ng-container *ngIf="item.value[0] as product">
        <td><img style="width: 70px;border-radius: 10px;" src="{{product.image}}" alt="{{product.name}}">
        </td>
        <td></td>
        <td><p class="item-title">{{product.name}}</p>
          <p class="item-description"
             style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 60ch;">{{product.comment}}</p>
        </td>
        <td><p class="mt-4">{{product.caret}}</p></td>
        <td><p class="mt-4">{{product.weight}}<span *ngIf="product.weight"> گرم</span></p></td>
        <td><p class="mt-4">{{product.price | currency: '  ' :'symbol-narrow':'4.0'}} تومان </p></td>
        <td>
          <ul class="plus">
            <li>
              <button class="btn btn-danger" (click)="removeFromProductList(product)">-</button>
            </li>
            <li><p>{{item.value.length}}</p></li>
            <li>
              <button class="btn btn-danger" (click)="addMore(product)">+</button>
            </li>
          </ul>
        </td>
        <td><p class="mt-4"
               style="width: 100px;">{{item.value.length * product.price | currency: '  ' :'symbol-narrow':'4.0'}}
          تومان </p></td>
        <td>
          <button class="mt-3" (click)="removeItem(product)" mat-icon-button color="warn">
            <mat-icon>close</mat-icon>
          </button>
        </td>
      </ng-container>

    </tr>
    </tbody>
  </table>
  <div class="col-md-8"></div>
  <div class="col-md-4" style="float: left;">
    <ul>
      <li><p>جمع سبد فروش :<span>{{totalPrice | currency: '  ' :'symbol-narrow':'4.0'}} تومان </span></p></li>
    </ul>
  </div>
</ng-container>


<ng-container *ngIf="!show">
  <div class="container">
    <div class="center">
      <img src="../../../assets/images/product.png" alt="" class="mb-3">
      <h4 class="card-cart">سبد فروش خالی است!</h4>
      <p class="card-cart">همین الان اضافه کنید.</p>
      <button routerLink="/products" class="products-btn" mat-raised-button>محصولات</button>
    </div>
  </div>
</ng-container>
