body{
  margin: 0px !important;
  padding: 0px !important;
  width: 90%;
  direction: rtl;
  background: url("../../../../assets/images/factor-background.png");
}
h2{
  font-size: 18px;
  font-weight: bold;
  font-family: "vazir";
  margin-top: 1.2rem;
}
.text-box{
  border-radius: 10px;
  border: 1px solid #d1b266;
  background: #fff;
  padding: 7px;
  height: 40px;
  font-weight: bold;
  font-size: 11px;
}
.table-box{
  border-radius: 10px;
  border: 1px solid #d1b266;
  background: #fff;
  height: 450px;
}
input{
  border: none;
  background: transparent;
}

th{
  font-size: 12px;
}
td .product-item{
  font-size: 10px !important;
  padding-top: 6px;
}

.btn-save{
  background-color: #4fbf2a;
  font-size: 14px;
  margin-left: 10px;
}
.btn-print{
  background-color: #cda64b;
  
  font-size: 14px;
}

.item-img{
  width: 30px;
  border-radius: 3px;
  padding-top: 6px;
}

@media only screen and (max-width: 480px) {
  .date-field , .id-field , .name-field{
    font-size: 0.7rem;
  }

  .table > :not(caption) > * > *{
    padding: 5px !important;
  }

  .ng-star-inserted{
    font-size: 0.6rem;
  }
  table th{
    font-size: 0.65rem;
  }

  table td{
    font-size: 0.40rem;
  }

  .item-img{
    width: 20px;
  }

}