@import "~bootstrap/dist/css/bootstrap.css";


@font-face {
    font-family: samim;
    src: url(./assets/fonts/irsans.ttf);
  }

h1,h2,h3,h4,h5,h6,p,li,a,button{
     font-family: samim !important;
     }
